@import "../../core/styles/variables/fonts";
@import "../../core/styles/variables/tokens";
@import "../../core/styles/variables/colors";

label.mm-label {
  color: black;
  font-size: $font-size-medium;
  font-family: $font-family;
  font-weight: 500;
  display: inline-block;
  margin-bottom: $margin-token;
}

.mm-field--required label.mm-label::after {
  color: $danger-color-darken-2;
  margin-left: (0.5 * $margin-token);
  content: '*';
}
