// Success color
$success-color-lighten-5: #f1f8e9;
$success-color-lighten-4: #dcedc8;
$success-color-lighten-3: #c5e1a5;
$success-color-lighten-2: #aed581;
$success-color-lighten-1: #9ccc65;
$success-color: #8bc34a;
$success-color-darken-1: #7cb342;
$success-color-darken-2: #689f38;
$success-color-darken-3: #558b2f;
$success-color-darken-4: #33691e;
$success-color-accent-1: #ccff90;
$success-color-accent-2: #b2ff59;
$success-color-accent-3: #76ff03;
$success-color-accent-4: #64dd17;

// Warning color
$warning-color-lighten-5: #fff8e1;
$warning-color-lighten-4: #ffecb3;
$warning-color-lighten-3: #ffe082;
$warning-color-lighten-2: #ffd54f;
$warning-color-lighten-1: #ffca28;
$warning-color: #ffc107;
$warning-color-darken-1: #ffb300;
$warning-color-darken-2: #ffa000;
$warning-color-darken-3: #ff8f00;
$warning-color-darken-4: #ff6f00;
$warning-color-accent-1: #ffe57f;
$warning-color-accent-2: #ffd740;
$warning-color-accent-3: #ffc400;
$warning-color-accent-4: #ffab00;

// Warning color
$warning-color-lighten-5: #fff8e1;
$warning-color-lighten-4: #ffecb3;
$warning-color-lighten-3: #ffe082;
$warning-color-lighten-2: #ffd54f;
$warning-color-lighten-1: #ffca28;
$warning-color: #ffc107;
$warning-color-darken-1: #ffb300;
$warning-color-darken-2: #ffa000;
$warning-color-darken-3: #ff8f00;
$warning-color-darken-4: #ff6f00;
$warning-color-accent-1: #ffe57f;
$warning-color-accent-2: #ffd740;
$warning-color-accent-3: #ffc400;
$warning-color-accent-4: #ffab00;


// Danger color
$danger-color-lighten-5: #ffebee;
$danger-color-lighten-4: #ffcdd2;
$danger-color-lighten-3: #ef9a9a;
$danger-color-lighten-2: #e57373;
$danger-color-lighten-1: #ef5350;
$danger-color: #f44336;
$danger-color-darken-1: #e53935;
$danger-color-darken-2: #d32f2f;
$danger-color-darken-3: #c62828;
$danger-color-darken-4: #b71c1c;
$danger-color-accent-1: #ff8a80;
$danger-color-accent-2: #ff5252;
$danger-color-accent-3: #ff1744;
$danger-color-accent-4: #d50000;


// White and Black
$white-color: #ffffff;
$black-color: #000000;
