@import "../../core/styles/variables/colors";
@import "../../core/styles/variables/tokens";

.mm-dropdown__container {
  display: inline-block;
  width: 100%;
}

.mm-dropdown__trigger-button {
  background-color: $white-color;
  font-size: $font-size-token;
  border: 1px solid black;
  border-radius: 5px;
  color: $black-color;
  padding: $padding-token;
  min-height: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mm-dropdown__trigger-button:active,
.mm-dropdown__trigger-button:focus,
.mm-dropdown__trigger-button:target {
  outline: none;
}

.mm-dropdown-options__container {
  position: relative;
  width: 100%;
}

.mm-dropdown-options {
  background-color: $white-color;
  border: 1px solid black;
  border-top: 0;
  border-radius: 5px;
  padding: 7px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.mm-dropdown .mm-icon {
  float: right;
  height: 0;
  top: 14px;
  right: 16px;
}
