name: MM Components Package

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'
          token: ${{secrets.RELEASE_IT}}
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: git config --global user.email "<>"
      - run: git config --global user.name "Github Action Bot"
      - run: npm run release-action
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}

